body {
    font-family: 'Barlow', sans-serif;
     background-color: aliceblue;
}
.header_div {
    background: white;
    color: lightcoral;
}
.header_div img{
    width: 100px;
}
.main_div { 
    background: lightsalmon;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid wheat;
}
.main_div label {
    background: navajowhite;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}
#camera,#result {
    border: 2px solid navajowhite;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px lightyellow;
}
.main_div button {
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px navajowhite;
    border: 1px solid;
}
.footer_div {
    margin-bottom: 50px;
}
.footer_div h4 {
    background: antiquewhite;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px seashell;   
}
.footer_div img {
    width: 70px;
}
.copy_right_footer {
    position: fixed;
    color: rgb(1, 0, 2);
    bottom: 0;
    width: 100%;
    background-color: rgb(84, 219, 179);
    line-height: 3;
    text-align: center;
}